<?xml version="1.0"?>
<launch>

  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find butler_description)/urdf/coach_butler_robot.urdf"/>

<!-- Open Gazebo Commissary World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(find butler_gazebo)/worlds/commissary_v2.world"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-z 0.1 -unpause -urdf -model coach_butler_robot -param robot_description" respawn="false" output="screen" />
  <rosparam file="$(find butler_control)/config/coach_butler_robot_diff_drive.yaml" command="load" ns="diff_drive_ctrl" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="diff_drive_ctrl" />
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/diff_drive_ctrl/cmd_vel"/>
  </node>

<!-- Robot State Publisher-->
  <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /-->

<!-- Pull Transform Frames Launch Files -->
  <include file="$(find butler_bringup)/launch/butler_tf.launch"/>

<!-- Open Rviz File -->
  <!--arg name="rvizconfig" default="$(find butler_rviz)/rviz_lasers_config.rviz" /-->
  <arg name="rvizconfig" default="$(find butler_rviz)/coach_rviz_config.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

<!-- Joint State Publisher -->
  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />


</launch>
