<?xml version="1.0"?>
<launch>

<!--Transform Frames (TF) Launch File-->

<!-- Base Link Broadcaster and Listener-->

     <node name="butler_base_link_tf_br" pkg="butler_bringup" type="butler_base_link_tf_br" args="/coach_butler_robot" output="screen"/>
     <node name="butler_base_link_tf_ls" pkg="butler_bringup" type="butler_base_link_tf_ls" output="screen"/>

<!-- Wheels Broadcaster-->

     <node pkg="butler_bringup" type="butler_left_wheel_tf_br"
          name="base_link_left_wheel" args="/coach_butler_robot" output="screen"/>
     <node pkg="butler_bringup" type="butler_right_wheel_tf_br"
          name="base_link_right_wheel" args="/coach_butler_robot" output="screen"/>

<!-- WHheels Listener -->

      <node pkg="butler_bringup" type="butler_left_wheel_tf_ls"
           name="base_link_left_wheel_ls" output="screen"/>
       <node pkg="butler_bringup" type="butler_right_wheel_tf_ls"
           name="base_link_right_wheel_ls" output="screen"/>

<!-- Swivel Broadcasters -->

     <node pkg="butler_bringup" type="butler_front_left_swivel_tf_br"
          name="base_link_front_left_swivel" args="/coach_butler_robot" output="screen"/>
     <node pkg="butler_bringup" type="butler_back_left_swivel_tf_br"
          name="base_link_back_left_swivel" args="/coach_butler_robot" output="screen"/>
     <node pkg="butler_bringup" type="butler_front_right_swivel_tf_br"
          name="base_link_front_right_swivel" args="/coach_butler_robot" output="screen"/>
     <node pkg="butler_bringup" type="butler_back_right_swivel_tf_br"
          name="base_link_back_right_swivel" args="/coach_butler_robot" output="screen"/>

<!-- Swivel Listeners-->

     <node pkg="butler_bringup" type="butler_front_left_swivel_tf_ls"
          name="base_link_front_left_swivel_ls" output="screen"/>
     <node pkg="butler_bringup" type="butler_back_left_swivel_tf_ls"
          name="base_link_back_left_swivel_ls" output="screen"/>
     <node pkg="butler_bringup" type="butler_front_right_swivel_tf_ls"
          name="base_link_front_right_swivel_ls" output="screen"/>
     <node pkg="butler_bringup" type="butler_back_right_swivel_tf_ls"
          name="base_link_back_right_swivel_ls" output="screen"/>

<!-- Caster Broadcasters -->

     <node pkg="butler_bringup" type="butler_front_right_caster_tf_br"
          name="front_right_swivel_front_right_caster" args="/coach_butler_robot" output="screen"/>
     <node pkg="butler_bringup" type="butler_back_right_caster_tf_br"
          name="back_right_swivel_back_right_caster" args="/coach_butler_robot" output="screen"/>
     <node pkg="butler_bringup" type="butler_front_left_caster_tf_br"
          name="front_left_swivel_front_left_caster" args="/coach_butler_robot" output="screen"/>
     <node pkg="butler_bringup" type="butler_back_left_caster_tf_br"
          name="back_left_swivel_back_left_caster" args="/coach_butler_robot" output="screen"/>

<!-- Caster Listeners -->

     <node pkg="butler_bringup" type="butler_front_right_caster_tf_ls"
          name="base_link_front_right_caster_ls" output="screen"/>
     <node pkg="butler_bringup" type="butler_back_right_caster_tf_ls"
          name="base_link_back_right_caster_ls" output="screen"/>
     <node pkg="butler_bringup" type="butler_front_left_caster_tf_ls"
          name="base_link_front_left_caster_ls" output="screen"/>
     <node pkg="butler_bringup" type="butler_back_left_caster_tf_ls"
          name="base_link_back_left_caster_ls" output="screen"/>

<!-- Laser Broadcasters -->

     <node pkg="butler_bringup" type="butler_front_laser_tf_br"
          name="base_link_front_laser" args="/coach_butler_robot" output="screen"/>
     <node pkg="butler_bringup" type="butler_rear_laser_tf_br"
          name="base_link_rear_laser" args="/coach_butler_robot" output="screen"/>

<!-- Laser Listeners -->

     <node pkg="butler_bringup" type="butler_front_laser_tf_ls"
          name="base_link_front_laser_ls" output="screen"/>
     <node pkg="butler_bringup" type="butler_rear_laser_tf_ls"
          name="base_link_rear_laser_ls" output="screen"/>

 <!-- Camera Broadcaster -->

     <node pkg="butler_bringup" type="butler_front_camera_tf_br"
          name="base_link_front_camera" args="/coach_butler_robot" output="screen"/>

  <!-- Camera Listener -->

     <node pkg="butler_bringup" type="butler_front_camera_tf_ls"
          name="base_link_front_camera_ls" output="screen"/>

</launch>
